<!doctype html>
<html
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>Navigation Bar</title>
    <link
      href="/fragments/navbar.css"
      media="all"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar">
      <!-- Logo-->
      <div class="navbar-logo">EHZ</div>

      <!-- Search Bar-->
      <div style="width: 1450px">
        <form
          method="Get"
          th:action="${'/ehz/files/' + uuidString + '/search'}"
        >
          <input
            class="navbar-search"
            id="q"
            name="q"
            th:attr="placeholder=${#strings.isEmpty(query) ? 'Search in current Folder' : ''}"
            th:value="${query}"
            type="text"
          />
        </form>
      </div>

      <!--      Alert-->
      <div
        class="alert success"
        id="message"
        style="display: none"
        th:text="${message}"
      ></div>

      <!--Sign Out-->
      <div class="logout">
        <form method="post" th:action="@{/logout}">
          <button class="cancel-button" type="submit">Sign Out</button>
        </form>
      </div>

      <!-- User name-->
      <div class="username">
        <h1 th:inline="text">
          <span sec:authentication="name" th:remove="tag"></span>
        </h1>
      </div>
    </nav>

    <script src="/fragments/navbar.js"></script>
  </body>
</html>
