<!doctype html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <title>Sidebar Files</title>
    <link
      href="/fragments/sidebar.css"
      media="all"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- Sidebar -->
    <nav class="sidebar" sec:authorize="hasAuthority('ADMIN')">
      <ul>
        <li><a href="/ehz/files">Home</a></li>
        <li><a href="/ehz/admin/users">Users</a></li>
        <li><a href="/ehz/admin/permissions">Permissions</a></li>
      </ul>
    </nav>

    <script src="/fragments/sidebar.js"></script>
  </body>
</html>
