<!--<!doctype html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--  <head>-->
<!--    <title></title>-->
<!--    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />-->
<!--  </head>-->

<!--  <body style="margin: 0">-->
<!--    &lt;!&ndash; Include the navigation fragment &ndash;&gt;-->
<!--    <div th:replace="~{fragments/navbar}"></div>-->

<!--    &lt;!&ndash; Include the sidebar fragment &ndash;&gt;-->
<!--    <div th:replace="~{/fragments/sidebar}"></div>-->

<!--    &lt;!&ndash; Include the main content fragment &ndash;&gt;-->
<!--    <div th:replace="~{/files/file_search_main}"></div>-->
<!--  </body>-->
<!--</html>-->
