<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Spring Security Example</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="/login.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="login-container">
      <h1>EHZ File System</h1>
      <div class="error-message" th:if="${param.error}">
        Invalid username and password.
      </div>
      <div class="logout-message" th:if="${param.logout}">
        You have been logged out.
      </div>
      <form method="post" th:action="@{/ehz/login}">
        <div>
          <label for="username">User Name:</label>
          <input id="username" name="username" type="text" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" name="password" type="password" />
        </div>
        <div><input type="submit" value="Sign In" /></div>
      </form>
    </div>
  </body>
</html>
