<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="/preview.css" rel="stylesheet" />
    <title>PDF Viewer</title>
  </head>
  <body>
    <div class="top-bar">
      <button class="btn" id="prev-page">
        <img alt="Left Arrow" src="/arrow-left-circle.svg" /> Prev Page
      </button>
      <button class="btn" id="next-page">
        Next Page <img alt="Right Arrow" src="/arrow-right-circle.svg" />
      </button>
      <span class="page-info">
        Page <span id="page-num"></span> of <span id="page-count"></span>
      </span>
    </div>

    <canvas id="pdf-render"></canvas>

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script th:inline="javascript">
      const encodedFile = /*[[${encodedFile}]]*/ "";
    </script>
    <script src="/preview.js"></script>
  </body>
</html>
