<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link href="/files/file_main.css" media="all" rel="stylesheet"
              type="text/css"/>
    </head>

    <body>
        <div class="main">
            <!--            <div th:replace="~{fragments/sign_out}"></div>-->
            <div th:replace="~{files/file_upload_create}"></div>
            <div th:replace="~{files/file_paths}"></div>
            <div th:replace="~{files/file_table}"></div>
        </div>

    </body>

</html>