<!doctype html>

<html
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="main" sec:authorize="hasAuthority('ADMIN')">
      <div th:replace="~{files/file_upload_create}"></div>
      <div th:replace="~{files/file_paths}"></div>
      <div th:replace="~{files/file_table}"></div>
    </div>

    <div
      class="main"
      sec:authorize="hasAuthority('USER')"
      style="padding-left: 20px"
    >
      <div th:replace="~{files/file_upload_create}"></div>
      <div th:replace="~{files/file_paths}"></div>
      <div th:replace="~{files/file_table}"></div>
    </div>
  </body>
</html>
